footer {
	@include flexMid;

	flex-direction: column;
	height: 100%;
	background-color: #294b83;
	color: white;
	font-size: 17px;
	text-transform: uppercase;
	text-align: center;
	.logo {
		margin: 15px 0;
		img {
			@include wh(55%);
		}
	}
	p {
		margin: 15px 0;
		width: 80%;
	}
}
