@mixin flexMid {
	display: flex;
	justify-content: center;
	align-items: center;
}
@mixin f-bx($fdir: column, $fwrap: nowrap, $jstf: center, $aln: center) {
	display: flex;
	flex-direction: $fdir;
	flex-wrap: $fwrap;
	justify-content: $jstf;
	align-items: $aln;
}
@mixin wh($width, $heigt: $width) {
	width: $width;
	height: $heigt;
}

@mixin media($min-width) {
	@media only screen and (min-width: $min-width) {
		@content;
	}
}

@mixin btnstyle {
	border: none;
	outline-style: none;
}
